[Unit]
Description=Exoskeleton Leg Spring Boot API
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=ec2-user
WorkingDirectory=/home/ec2-user/leg
ExecStart=/usr/bin/java -jar /home/ec2-user/leg/leg.jar
Restart=on-failure
RestartSec=5
SuccessExitStatus=143
Environment=SERVER_PORT=8080
Environment=JAVA_TOOL_OPTIONS=-XX:MaxRAMPercentage=70

[Install]
WantedBy=multi-user.target
